
    <div id="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container" style="max-width: 100%;">
              <a class="navbar-brand" style="color: #ffffff; font-family: Arial, sans-serif;" href="#">WEB CƠ BẢN</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="color: #ffffff;" href="#"><i class="bi bi-house-fill"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: #ffffff;" href="#">|</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: #ffffff;" href="#">Features</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="color: #ffffff;" href="#">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" style="color: #ffffff;" aria-disabled="true">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
    <div class="banner"></div>
    <div class="line"></div>
