<div class="banner1 mt-3 mb-3 d-flex px-2">
    <h3>XÂY DỰNG DÂN TỘC</h3>
    <i class="bi bi-brightness-alt-low-fill"></i>
</div>
<div class="mb-3"> 
    <img class="imgthirdrow" src="../../../assets/img1.jpg" alt="">
    <p class="pthirdrow mb-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet id delectus ipsa hic, corrupti voluptatum numquam eius? Delectus atque placeat tenetur quis quia sed ullam iusto, natus explicabo ipsum? Mollitia aperiam ipsa nam blanditiis, repellat vero pariatur unde quasi esse adipisci possimus voluptatem deleniti necessitatibus tenetur. Cupiditate ipsam culpa iure fuga ad, dolor amet eveniet sapiente quaerat incidunt vitae ea tenetur tempora eos autem aspernatur a vero sed perspiciatis.</p>
    <div class="d-flex ngayvstacgia">
        <span><i class="bi bi-calendar-week"></i> 30/05/2024</span>
        <span><i class="bi bi-person-fill"></i> Lò Bánh Văn Mì</span>
    </div>
</div>