<!-- ---------------------------------------------------------First SB--------------------------------------------------------- -->
<app-firstsb></app-firstsb>
<!-- ---------------------------------------------------------Second SB--------------------------------------------------------- -->
<div class="banner1 mt-3 mb-3 d-flex">
    <h3>XÂY DỰNG DÂN TỘC</h3>
    <i class="bi bi-brightness-alt-low-fill"></i>
</div>
<app-secondsb></app-secondsb>
<!-- ---------------------------------------------------------Third SB--------------------------------------------------------- -->
<div class="banner1 mt-3 mb-3 d-flex">
    <h3>XÂY DỰNG DÂN TỘC</h3>
    <i class="bi bi-brightness-alt-low-fill"></i>
</div>
<app-thirdsb></app-thirdsb>
<!-- --------------------------------------------------------Fourth SB--------------------------------------------------------- -->
<app-fourthsb></app-fourthsb>
