
    <!-- ---------------------------------------------------------First CT Row--------------------------------------------------------- -->
    <app-first [items]="items" [selectedImage]="selectedImage" (getCurrentImage)="handleGetCurrentImage($event)"></app-first>
    <!-- ---------------------------------------------------------Second CT Row--------------------------------------------------------- -->
    <app-second></app-second>
    <!-- ---------------------------------------------------------Third CT Row--------------------------------------------------------- -->
    <app-third></app-third>