<div class="line"></div>
    <footer>
        <div class="footer">
            <div class="container">
                <div class="iconft">
                    <i class="bi bi-chat-left-dots"></i>
                    <i class="bi bi-telephone-fill"></i>
                </div>
                <div class="iconft1 d-flex">
                    <i class="bi bi-person-fill"></i>
                    <div class="setbutton">
                        <button>Liên hệ</button>
                    </div>
                </div>
                <div class="line1"></div>
                <div class="textft d-flex">
                    <div class="tft">
                        <p class="p1">|Khéng coder| &copy; 2024 Web cơ bản</p>
                    </div>
                    <div class="tft1">
                        <p>This web is of mine KaLeo</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
